<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grade_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,176}</string>
                <key>spriteSourceSize</key>
                <string>{153,176}</string>
                <key>textureRect</key>
                <string>{{1194,515},{153,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,168}</string>
                <key>spriteSourceSize</key>
                <string>{149,168}</string>
                <key>textureRect</key>
                <string>{{1033,0},{149,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,169}</string>
                <key>spriteSourceSize</key>
                <string>{148,169}</string>
                <key>textureRect</key>
                <string>{{1182,0},{148,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,172}</string>
                <key>spriteSourceSize</key>
                <string>{149,172}</string>
                <key>textureRect</key>
                <string>{{895,170},{149,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,170}</string>
                <key>spriteSourceSize</key>
                <string>{146,170}</string>
                <key>textureRect</key>
                <string>{{1634,0},{146,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,173}</string>
                <key>spriteSourceSize</key>
                <string>{148,173}</string>
                <key>textureRect</key>
                <string>{{737,342},{148,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{146,172}</string>
                <key>textureRect</key>
                <string>{{1044,170},{146,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,169}</string>
                <key>spriteSourceSize</key>
                <string>{146,169}</string>
                <key>textureRect</key>
                <string>{{1330,0},{146,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,173}</string>
                <key>spriteSourceSize</key>
                <string>{146,173}</string>
                <key>textureRect</key>
                <string>{{885,342},{146,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,156}</string>
                <key>spriteSourceSize</key>
                <string>{149,156}</string>
                <key>textureRect</key>
                <string>{{0,0},{149,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,173}</string>
                <key>spriteSourceSize</key>
                <string>{146,173}</string>
                <key>textureRect</key>
                <string>{{1031,342},{146,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,173}</string>
                <key>spriteSourceSize</key>
                <string>{146,173}</string>
                <key>textureRect</key>
                <string>{{1177,342},{146,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,164}</string>
                <key>spriteSourceSize</key>
                <string>{147,164}</string>
                <key>textureRect</key>
                <string>{{443,0},{147,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,175}</string>
                <key>spriteSourceSize</key>
                <string>{154,175}</string>
                <key>textureRect</key>
                <string>{{440,515},{154,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,169}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{1476,0},{158,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{146,172}</string>
                <key>textureRect</key>
                <string>{{1190,170},{146,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,161}</string>
                <key>spriteSourceSize</key>
                <string>{146,161}</string>
                <key>textureRect</key>
                <string>{{297,0},{146,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{146,172}</string>
                <key>textureRect</key>
                <string>{{1336,170},{146,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,175}</string>
                <key>spriteSourceSize</key>
                <string>{146,175}</string>
                <key>textureRect</key>
                <string>{{594,515},{146,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,178}</string>
                <key>spriteSourceSize</key>
                <string>{148,178}</string>
                <key>textureRect</key>
                <string>{{1639,515},{148,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,176}</string>
                <key>spriteSourceSize</key>
                <string>{146,176}</string>
                <key>textureRect</key>
                <string>{{1347,515},{146,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{146,172}</string>
                <key>textureRect</key>
                <string>{{1482,170},{146,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,175}</string>
                <key>spriteSourceSize</key>
                <string>{146,175}</string>
                <key>textureRect</key>
                <string>{{740,515},{146,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,170}</string>
                <key>spriteSourceSize</key>
                <string>{146,170}</string>
                <key>textureRect</key>
                <string>{{0,170},{146,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{146,172}</string>
                <key>textureRect</key>
                <string>{{1628,170},{146,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,175}</string>
                <key>spriteSourceSize</key>
                <string>{148,175}</string>
                <key>textureRect</key>
                <string>{{886,515},{148,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,173}</string>
                <key>spriteSourceSize</key>
                <string>{146,173}</string>
                <key>textureRect</key>
                <string>{{1323,342},{146,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,172}</string>
                <key>spriteSourceSize</key>
                <string>{151,172}</string>
                <key>textureRect</key>
                <string>{{0,342},{151,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,173}</string>
                <key>spriteSourceSize</key>
                <string>{148,173}</string>
                <key>textureRect</key>
                <string>{{1469,342},{148,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,173}</string>
                <key>spriteSourceSize</key>
                <string>{145,173}</string>
                <key>textureRect</key>
                <string>{{1617,342},{145,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,164}</string>
                <key>spriteSourceSize</key>
                <string>{149,164}</string>
                <key>textureRect</key>
                <string>{{590,0},{149,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_381.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,166}</string>
                <key>spriteSourceSize</key>
                <string>{148,166}</string>
                <key>textureRect</key>
                <string>{{739,0},{148,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_382.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,167}</string>
                <key>spriteSourceSize</key>
                <string>{146,167}</string>
                <key>textureRect</key>
                <string>{{887,0},{146,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_383.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{146,172}</string>
                <key>textureRect</key>
                <string>{{151,342},{146,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_384.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{146,172}</string>
                <key>textureRect</key>
                <string>{{297,342},{146,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_385.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,171}</string>
                <key>spriteSourceSize</key>
                <string>{150,171}</string>
                <key>textureRect</key>
                <string>{{305,170},{150,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_386.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,173}</string>
                <key>spriteSourceSize</key>
                <string>{146,173}</string>
                <key>textureRect</key>
                <string>{{0,515},{146,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_387.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,171}</string>
                <key>spriteSourceSize</key>
                <string>{148,171}</string>
                <key>textureRect</key>
                <string>{{455,170},{148,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_388.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,176}</string>
                <key>spriteSourceSize</key>
                <string>{146,176}</string>
                <key>textureRect</key>
                <string>{{1493,515},{146,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_389.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,171}</string>
                <key>spriteSourceSize</key>
                <string>{146,171}</string>
                <key>textureRect</key>
                <string>{{603,170},{146,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_390.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,170}</string>
                <key>spriteSourceSize</key>
                <string>{159,170}</string>
                <key>textureRect</key>
                <string>{{146,170},{159,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_391.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,175}</string>
                <key>spriteSourceSize</key>
                <string>{160,175}</string>
                <key>textureRect</key>
                <string>{{1034,515},{160,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,171}</string>
                <key>spriteSourceSize</key>
                <string>{146,171}</string>
                <key>textureRect</key>
                <string>{{749,170},{146,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,173}</string>
                <key>spriteSourceSize</key>
                <string>{148,173}</string>
                <key>textureRect</key>
                <string>{{146,515},{148,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,173}</string>
                <key>spriteSourceSize</key>
                <string>{146,173}</string>
                <key>textureRect</key>
                <string>{{294,515},{146,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,156}</string>
                <key>spriteSourceSize</key>
                <string>{148,156}</string>
                <key>textureRect</key>
                <string>{{149,0},{148,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{146,172}</string>
                <key>textureRect</key>
                <string>{{443,342},{146,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grade_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{148,172}</string>
                <key>textureRect</key>
                <string>{{589,342},{148,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite_atlas_grade.png</string>
            <key>size</key>
            <string>{1787,693}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0293899e601c31a033ab004280f8518:331e9868312172fc5c2affa5c6244296:23e215f4b7a105e65b0571d0d8f4d958$</string>
            <key>textureFileName</key>
            <string>sprite_atlas_grade.png</string>
        </dict>
    </dict>
</plist>
