<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{107,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{107,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,106}</string>
                <key>spriteSourceSize</key>
                <string>{109,106}</string>
                <key>textureRect</key>
                <string>{{105,213},{109,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{214,213},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{322,213},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{0,319},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,106}</string>
                <key>textureRect</key>
                <string>{{105,319},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{215,319},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{323,319},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{0,425},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{107,425},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{212,425},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{107,0},{106,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{320,425},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{0,531},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,106}</string>
                <key>textureRect</key>
                <string>{{104,531},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{112,105}</string>
                <key>textureRect</key>
                <string>{{214,531},{112,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{326,531},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{0,637},{106,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,106}</string>
                <key>textureRect</key>
                <string>{{106,637},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,106}</string>
                <key>textureRect</key>
                <string>{{216,637},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{326,637},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{0,743},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{213,0},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{107,743},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,106}</string>
                <key>textureRect</key>
                <string>{{214,743},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{324,743},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{0,849},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{105,849},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,105}</string>
                <key>spriteSourceSize</key>
                <string>{110,105}</string>
                <key>textureRect</key>
                <string>{{211,849},{110,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{321,849},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{0,955},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{105,955},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,106}</string>
                <key>textureRect</key>
                <string>{{213,955},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{318,0},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{323,955},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{0,1061},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{105,1061},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{211,1061},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{319,1061},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{107,105}</string>
                <key>textureRect</key>
                <string>{{0,1169},{107,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,105}</string>
                <key>spriteSourceSize</key>
                <string>{106,105}</string>
                <key>textureRect</key>
                <string>{{107,1169},{106,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{213,1169},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,103}</string>
                <key>spriteSourceSize</key>
                <string>{105,103}</string>
                <key>textureRect</key>
                <string>{{317,1169},{105,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{0,105},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{107,105},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{215,105},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{321,105},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,104}</string>
                <key>textureRect</key>
                <string>{{0,213},{105,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite_atlas_create.png</string>
            <key>size</key>
            <string>{433,1274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6e0becaedfe9f630b5d696b754e8062:75303c3842aaf2af0ea2d203e8066208:4cf5ac98bedcc0ea05d34d926f46a7f5$</string>
            <key>textureFileName</key>
            <string>sprite_atlas_create.png</string>
        </dict>
    </dict>
</plist>
