<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>merge_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,170}</string>
                <key>spriteSourceSize</key>
                <string>{154,170}</string>
                <key>textureRect</key>
                <string>{{357,514},{154,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,164}</string>
                <key>spriteSourceSize</key>
                <string>{169,164}</string>
                <key>textureRect</key>
                <string>{{173,1145},{169,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,155}</string>
                <key>spriteSourceSize</key>
                <string>{161,155}</string>
                <key>textureRect</key>
                <string>{{356,686},{161,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,143}</string>
                <key>spriteSourceSize</key>
                <string>{166,143}</string>
                <key>textureRect</key>
                <string>{{1,1452},{166,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,172}</string>
                <key>spriteSourceSize</key>
                <string>{149,172}</string>
                <key>textureRect</key>
                <string>{{362,340},{149,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,189}</string>
                <key>spriteSourceSize</key>
                <string>{124,189}</string>
                <key>textureRect</key>
                <string>{{1,117},{124,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,173}</string>
                <key>spriteSourceSize</key>
                <string>{129,173}</string>
                <key>textureRect</key>
                <string>{{177,881},{129,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{154,144}</string>
                <key>textureRect</key>
                <string>{{1,1762},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,163}</string>
                <key>spriteSourceSize</key>
                <string>{115,163}</string>
                <key>textureRect</key>
                <string>{{390,1},{115,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,165}</string>
                <key>spriteSourceSize</key>
                <string>{163,165}</string>
                <key>textureRect</key>
                <string>{{1,1597},{163,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,174}</string>
                <key>spriteSourceSize</key>
                <string>{146,174}</string>
                <key>textureRect</key>
                <string>{{1,860},{146,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,164}</string>
                <key>spriteSourceSize</key>
                <string>{141,164}</string>
                <key>textureRect</key>
                <string>{{310,1755},{141,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,142}</string>
                <key>spriteSourceSize</key>
                <string>{151,142}</string>
                <key>textureRect</key>
                <string>{{157,1762},{151,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,153}</string>
                <key>spriteSourceSize</key>
                <string>{169,153}</string>
                <key>textureRect</key>
                <string>{{172,1311},{169,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,136}</string>
                <key>spriteSourceSize</key>
                <string>{192,136}</string>
                <key>textureRect</key>
                <string>{{196,1},{192,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,193}</string>
                <key>spriteSourceSize</key>
                <string>{114,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,168}</string>
                <key>spriteSourceSize</key>
                <string>{166,168}</string>
                <key>textureRect</key>
                <string>{{344,1175},{166,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,176}</string>
                <key>spriteSourceSize</key>
                <string>{154,176}</string>
                <key>textureRect</key>
                <string>{{179,417},{154,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,180}</string>
                <key>spriteSourceSize</key>
                <string>{157,180}</string>
                <key>textureRect</key>
                <string>{{1,243},{157,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,181}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{192,139},{132,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,172}</string>
                <key>spriteSourceSize</key>
                <string>{135,172}</string>
                <key>textureRect</key>
                <string>{{375,166},{135,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,163}</string>
                <key>spriteSourceSize</key>
                <string>{151,163}</string>
                <key>textureRect</key>
                <string>{{168,1602},{151,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,162}</string>
                <key>spriteSourceSize</key>
                <string>{159,162}</string>
                <key>textureRect</key>
                <string>{{352,1011},{159,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{343,1345},{161,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,177}</string>
                <key>spriteSourceSize</key>
                <string>{142,177}</string>
                <key>textureRect</key>
                <string>{{183,273},{142,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,175}</string>
                <key>spriteSourceSize</key>
                <string>{140,175}</string>
                <key>textureRect</key>
                <string>{{1,718},{140,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,176}</string>
                <key>spriteSourceSize</key>
                <string>{145,176}</string>
                <key>textureRect</key>
                <string>{{1,571},{145,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,176}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{1,402},{167,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,175}</string>
                <key>spriteSourceSize</key>
                <string>{145,175}</string>
                <key>textureRect</key>
                <string>{{179,573},{145,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,174}</string>
                <key>spriteSourceSize</key>
                <string>{159,174}</string>
                <key>textureRect</key>
                <string>{{178,720},{159,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,167}</string>
                <key>spriteSourceSize</key>
                <string>{170,167}</string>
                <key>textureRect</key>
                <string>{{1,1118},{170,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,165}</string>
                <key>spriteSourceSize</key>
                <string>{161,165}</string>
                <key>textureRect</key>
                <string>{{337,1508},{161,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,131}</string>
                <key>spriteSourceSize</key>
                <string>{172,131}</string>
                <key>textureRect</key>
                <string>{{176,1012},{172,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,166}</string>
                <key>spriteSourceSize</key>
                <string>{134,166}</string>
                <key>textureRect</key>
                <string>{{169,1466},{134,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,160}</string>
                <key>spriteSourceSize</key>
                <string>{157,160}</string>
                <key>textureRect</key>
                <string>{{354,849},{157,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merge_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,173}</string>
                <key>spriteSourceSize</key>
                <string>{108,173}</string>
                <key>textureRect</key>
                <string>{{1,1008},{108,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>merge_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,169}</string>
                <key>spriteSourceSize</key>
                <string>{163,169}</string>
                <key>textureRect</key>
                <string>{{1,1287},{163,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite_atlas_merge.png</string>
            <key>size</key>
            <string>{512,1907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3913b566a9593d2dd9035cd9c8b309e8:4766fcc3b36ce0caa7c8b5996c94fffb:d19e8720b4b77c1c4e0c9003ca01cf93$</string>
            <key>textureFileName</key>
            <string>sprite_atlas_merge.png</string>
        </dict>
    </dict>
</plist>
