<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_create.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,118}</string>
                <key>spriteSourceSize</key>
                <string>{261,118}</string>
                <key>textureRect</key>
                <string>{{755,1},{261,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,70}</string>
                <key>spriteSourceSize</key>
                <string>{196,70}</string>
                <key>textureRect</key>
                <string>{{1,278},{196,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_drawed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,68}</string>
                <key>spriteSourceSize</key>
                <string>{193,68}</string>
                <key>textureRect</key>
                <string>{{73,278},{193,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,76}</string>
                <key>spriteSourceSize</key>
                <string>{234,76}</string>
                <key>textureRect</key>
                <string>{{755,189},{234,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_grade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{991,189},{49,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,90}</string>
                <key>spriteSourceSize</key>
                <string>{640,90}</string>
                <key>textureRect</key>
                <string>{{388,283},{640,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,275}</string>
                <key>spriteSourceSize</key>
                <string>{752,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{752,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_masonry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,76}</string>
                <key>spriteSourceSize</key>
                <string>{234,76}</string>
                <key>textureRect</key>
                <string>{{755,189},{234,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_masonry_num.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,28}</string>
                <key>spriteSourceSize</key>
                <string>{67,28}</string>
                <key>textureRect</key>
                <string>{{937,451},{67,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,66}</string>
                <key>spriteSourceSize</key>
                <string>{260,66}</string>
                <key>textureRect</key>
                <string>{{755,121},{260,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{99,98}</string>
                <key>textureRect</key>
                <string>{{143,390},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_activity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,100}</string>
                <key>spriteSourceSize</key>
                <string>{81,100}</string>
                <key>textureRect</key>
                <string>{{244,385},{81,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,100}</string>
                <key>spriteSourceSize</key>
                <string>{81,100}</string>
                <key>textureRect</key>
                <string>{{305,283},{81,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_explain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,100}</string>
                <key>spriteSourceSize</key>
                <string>{81,100}</string>
                <key>textureRect</key>
                <string>{{327,385},{81,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_handbook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,99}</string>
                <key>spriteSourceSize</key>
                <string>{81,99}</string>
                <key>textureRect</key>
                <string>{{410,375},{81,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{220,283},{83,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_recycle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,95}</string>
                <key>spriteSourceSize</key>
                <string>{96,95}</string>
                <key>textureRect</key>
                <string>{{680,375},{96,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,91}</string>
                <key>spriteSourceSize</key>
                <string>{97,91}</string>
                <key>textureRect</key>
                <string>{{587,375},{97,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_speed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{493,375},{97,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{937,375},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_masonry_max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,71}</string>
                <key>spriteSourceSize</key>
                <string>{85,71}</string>
                <key>textureRect</key>
                <string>{{864,375},{85,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_masonry_min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,36}</string>
                <key>spriteSourceSize</key>
                <string>{41,36}</string>
                <key>textureRect</key>
                <string>{{991,240},{41,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{777,375},{85,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_redpacket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,105}</string>
                <key>spriteSourceSize</key>
                <string>{75,105}</string>
                <key>textureRect</key>
                <string>{{143,283},{75,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite_atlas_one.png</string>
            <key>size</key>
            <string>{1032,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a3052665a2bde7cf2c0a40d75f38a2:3258bd517bfa86fd234d0ce45197c506:e5cc239a2085875fb273d9faf313845f$</string>
            <key>textureFileName</key>
            <string>sprite_atlas_one.png</string>
        </dict>
    </dict>
</plist>
